@import "_settings.scss";

.gfycat-cover {
	position: absolute !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
}


.ie-only {
	display: none;
	visibility: hidden;

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		display: block;
		visibility: visible;
	}
}

