@import '_font-face.scss';
@import '_font-family.scss';
@import '_font-weight.scss';
@import '_links.scss';
@import '_text-color.scss';
@import '_text-decoration.scss';

p.large,
p.xLarge {
	line-height: 1.4;
	margin: 0 0 rem-calc(8);
}

p.large {
	font-size: rem-calc(17);
}

p.xLarge {
	font-size: rem-calc(18);
}

@include breakpoint(medium) {
	p.large {
		font-size: rem-calc(20);
	}

	p.xLarge {
		font-size: rem-calc(25);
	}
}

.p {
	font-size: $p;
}
