@import "../../_settings.scss";

.update-post {
	.container {
		&:nth-child(2n) {
			background: #fdfdfd;
		}

		&:nth-child(2) {
			background: #bb3938 url('#{$url}/img/svg-assets/supra/vertical/supra-clipped-f1f1f1.svg') left top/contain no-repeat;

			p {
				font-weight: 500;
				color: #fff;
			}
		}
	}

	.row {
		@include breakpoint(small only) {
			padding: rem-calc(16) rem-calc(8);
		}

		padding: rem-calc(16) 0;

		img {
			border: rem-calc(3) solid #fff;
			box-shadow: $z-1;
			margin: rem-calc(16) 0;
		}
	}
}

.update-post {
	.row {
		.content {
			@include grid-col;
			
			@include breakpoint(medium) {
				@include grid-column(10);
				@include grid-col-pos(1);
			}

			@include breakpoint(large) {
				@include grid-column(8);
				@include grid-col-pos(2);
			}
		}
	}
}

// large-8 large-push-2 columns end