@import "../../_settings.scss";

.update-post {
	.container {
		&:nth-child(2n) {
			background: #fdfdfd;
		}
	}

	.row {
		@include breakpoint(small only) {
			padding: rem-calc(16) rem-calc(8);
		}

		padding: rem-calc(16) 0;

		img {
			border: rem-calc(3) solid #fff;
			box-shadow: $z-1;
			margin: rem-calc(16) 0;
		}
	}

	
}

