@import "../../_settings.scss";

.update-post {
	.hero {
		@include breakpoint(small only) {
			height: rem-calc(360);
			background: #f1f1f1 url('#') center center/auto 100% no-repeat;

			img {
				display: none;
				visibility: hidden;
			}
		}

		position: relative;

		.prose {
			position: absolute;
			width: 100%;
			z-index: 10;
			padding: 0 rem-calc(10);
			@include vertical-center;

			h1,
			h4 {
				text-transform: uppercase;
				text-shadow: 0 rem-calc(2) rem-calc(2) rgba(0,0,0,0.50);
				letter-spacing: rem-calc(1);
				color: #fff;
			}
		}

		.hero-scrim {
			position: absolute;
			height: 100%;
			width: 100%;
			background: linear-gradient(
				-180deg, 
				rgba(245,81,95,0.00) 0%, 
				rgba(187,29,49,0.50) 62%, 
				#9F031B 100%),
				url('#{$url}/img/update-post/assets/header/tacupra.svg') center bottom/contain no-repeat;
		}
	}
}
