@import "../../_settings.scss";

// ---------------------------------
// |            nav-bar            |
// ---------------------------------

.update-post {
	nav {
		.title-bar {
			.title-bar-title {
				a {
					padding: 0;

					img {
						width: 40px;
						height: 40px;
					}
				}
			}
			.menu-icon {
				width: 30px;
				height: 40px;

				&:after {
					height: 4px;
					box-shadow: 0 10px 0 #fefefe, 0 20px 0 #fefefe;
					top: 8px;
				}
			}
		}

		.top-bar {
			.logo-icon {
				img {
					width: 50px;
					height: 50px;
				}
			}

			a {
				color: #fff;
				font-size: rem-calc(20);
				letter-spacing: rem-calc(1);
				line-height: rem-calc(50);
				padding: 0 rem-calc(16);
				font-weight: bold;
				text-transform: uppercase;

				&:hover {
					color: $black;
					background-color: #fff;
				}
			}

			a.socialMedia-link {
				background: none;
				padding: 0 rem-calc(16) 0 0;

				img {
					width: 50px;
					height: 50px;
				}
			}
		}

		.top-bar-right {
			@include breakpoint(medium) {
				padding-right: rem-calc(16);
			}
		}
	}
}


// ---------------------------------------
// |            hero-image ::            |
// ---------------------------------------

.update-post {
	.hero {
		@include breakpoint(small only) {
			height: rem-calc(360);
			background: #f1f1f1 url('#') center center/auto 100% no-repeat;

			img {
				display: none;
				visibility: hidden;
			}
		}

		position: relative;

		.prose {
			position: absolute;
			width: 100%;
			z-index: 10;
			padding: 0 rem-calc(10);
			@include vertical-center;

			h1,
			h4 {
				text-transform: uppercase;
				text-shadow: 0 rem-calc(2) rem-calc(2) rgba(0,0,0,0.50);
				letter-spacing: rem-calc(1);
				color: #fff;
			}
		}

		.hero-scrim {
			position: absolute;
			height: 100%;
			width: 100%;
			background: linear-gradient(
				-180deg, 
				rgba(245,81,95,0.00) 0%, 
				rgba(187,29,49,0.50) 62%, 
				#9F031B 100%),
				url('#{$url}/img/update-post/assets/header/tacupra.svg') center bottom/contain no-repeat;
		}
	}
}
