@import "../../_settings.scss";

.update-post {
	.hero {
		position: relative;

		.prose {
			position: absolute;
			top: 60%;
			width: 100%;
			z-index: 10;

			h1,
			h4 {
				text-transform: uppercase;
				text-shadow: 0 2px 2px rgba(0,0,0,0.50);
				letter-spacing: 1px;
				color: #fff;
			}
		}

		.hero-scrim {
			position: absolute;
			height: 100%;
			width: 100%;
			background: linear-gradient(
				-180deg, 
				rgba(245,81,95,0.00) 0%, 
				rgba(187,29,49,0.50) 62%, 
				#9F031B 100%),
				url('#{$url}/img/update-post/template-layout/tacupra-wordmark.png') center bottom/contain no-repeat;
		}
	}
}
