@import '../../_settings.scss';

.build-specs {
	padding: rem-calc(50) 0;
	background: linear-gradient(
	rgba(222,14,13,.45),
	rgba(222,14,13,.45)
	), url('#{$url}/img/index/build-specs/engine-background.jpg') center center/cover no-repeat;

	h1 {
		color: #fff;
		text-shadow: 0 rem-calc(2) rem-calc(2) rgba(0,0,0,.50);
		text-transform: uppercase;
	}
}

.specCard {
	background: #f7f7f7;
	box-shadow: $z-1;
	margin-bottom: rem-calc(60);
}

.specCard-header {
	position: relative;

	h2 {
		position: absolute;
		bottom: 0;
		padding: 0 rem-calc(20);
		color: #fff;
		z-index: 10;
	}

	.image-scrim {
		position: absolute;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(-180deg, rgba(255,255,255,.00) 0%, rgba(71,71,71,.50) 72%, #000 100%);
	}
}

.specCard-body {
	padding: rem-calc(12) rem-calc(20);
}
