#index {
	footer {
		background: $tacupra-black;

		a {
			color: $white;
			letter-spacing: 2px;
			font-size: 12px;
			text-transform: uppercase;
			line-height: 36px;

			span {
				text-decoration: underline;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
