@import '../../_settings.scss';

#index {
	footer {
		background: #282b2f;

		a {
			color: #f1f1f1;
			letter-spacing: 2px;
			font-size: 12px;
			text-transform: uppercase;
			line-height: 36px;

			span {
				text-decoration: underline;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
