@import '../../_settings.scss';

// ------------------------------------------------------
// |            Sliding Screenshot Animation            |
// ------------------------------------------------------

.slidingScreenshot {
	animation-duration: 20000ms;
	animation-name: instagramSlide;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

@keyframes instagramSlide {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	50% {
		transform: translateY(-580px);
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@include breakpoint(440) {
	@keyframes instagramSlide {
		0% {
			transform: translateY(0);
			opacity: 1;
		}
		50% {
			transform: translateY(-900px);
			opacity: 1;
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

@include breakpoint(600) {
	@keyframes instagramSlide {
		0% {
			transform: translateY(0);
			opacity: 1;
		}
		50% {
			transform: translateY(-1300px);
			opacity: 1;
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

// --------------------------------------
// |            Class Styles            |
// --------------------------------------

.instagramFeed {
	background: $white;

	h1 {
		border-bottom: rem-calc(10) solid #bb3938;
		padding-bottom: rem-calc(20);
		margin-bottom: rem-calc(20);
	}

	.textColumn {
		.heightWrap {
			// height: rem-calc(330);
			height: rem-calc(180);
		}

		.prose {
			// padding-top: rem-calc(30) !important;
			z-index: 10;

			h1 {
				border-bottom: rem-calc(10) solid #bb3938;
				padding-bottom: rem-calc(20);
				margin-bottom: rem-calc(20);
			}
		}

		.imgWrap {
			width: 100%;
			bottom: -20px;
		}

		svg {
			max-height: 140px;
			width: 100%;

			path {
				fill: #f1f1f1;
			}
		}
	}

	.imageColumn {
		overflow: hidden;

		.heightWrap {
			height: 250px;
		}

		.prose {
			width: 100%;
			height: 100%;
			z-index: 10;
			justify-content: center;
			flex-direction: column;

			.buttonWrap {
				width: 100%;
			}

			a.button {
				background: #282b2f;
				font-size: rem-calc(26);
				border-radius: rem-calc(4);
				padding: rem-calc(15);
				width: rem-calc(280);
				margin: 0;
			}

			svg {
				width: 220px;
				height: 220px;

				path {
					fill: $white;
				}
			}
		}

		.overflowMask {
			width: 100%;

			.slidingScreenshot {
				width: 100%;
			}
		}
	}
}

@include breakpoint(500) {
	.instagramFeed {
		.textColumn {
			.prose {
				max-width: rem-calc(390);
				padding-left: rem-calc(60) !important;
			}

			.imgWrap {
				bottom: -30px;
			}
		}

		.imageColumn {
			.prose {
				a.button {
					width: rem-calc(320);
				}
			}
		}
	}
}
