@import '../../_settings.scss';

.instagramFeed-v2 {
	background: $white;

	.verbiage {
		svg {
			max-height: 140px;
			// max-width: 100%;
			path {
				fill: #f1f1f1;
			}
		}
	}

	.prose {
		h1 {
			border-bottom: rem-calc(10) solid #bb3938;
			padding-bottom: rem-calc(20);
			margin-bottom: rem-calc(20);
		}
	}

	.overflowMask {
		overflow: hidden;
		height: 250px;

		.slidingScreenshot {
			width: 100%;
		}
	}

	@include breakpoint(500) {
		.prose {
			max-width: rem-calc(390);
			padding-left: rem-calc(60) !important;
		}
	}
}

.slidingScreenshot {
	animation-duration: 20000ms;
	animation-name: instagramSlide;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}

@keyframes instagramSlide {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	50% {
		transform: translateY(-580px);
		opacity: 1;
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@include breakpoint(440) {
	@keyframes instagramSlide {
		0% {
			transform: translateY(0);
			opacity: 1;
		}
		50% {
			transform: translateY(-900px);
			opacity: 1;
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}

@include breakpoint(600) {
	@keyframes instagramSlide {
		0% {
			transform: translateY(0);
			opacity: 1;
		}
		50% {
			transform: translateY(-1300px);
			opacity: 1;
		}
		100% {
			opacity: 1;
			transform: translateY(0px);
		}
	}
}
