@import '../../_settings.scss';

.subscribe-section {
	padding: rem-calc(50) 0;
	background: #f1f1f1 url('#{$url}/img/index/subscribe/tacupra.png') left center/auto 100% no-repeat;

	@include breakpoint(769px) {
		background: #f1f1f1 url('#{$url}/img/index/subscribe/tacupra.png') center center/contain no-repeat;
	}
}

#mc_embed_signup {
	input.email {
		height: rem-calc(45);
		font-size: rem-calc(18);
		border: 1px solid #979797;
		background: #fefefe;
		box-shadow: inset 0 0 rem-calc(1) rem-calc(2) rgba(10,10,10,.10);
	}

	.button {
		background: #9f031b;
		font-size: rem-calc(20);
		font-weight: bold;
		text-transform: uppercase;
		letter-spacing: rem-calc(1);
		height: rem-calc(45);

		&:hover {
			background-color: #000;
		}
	}
}
