.updatePost-links.grid-container {
	max-width: rem-calc(1500);
}

.postLink-card {
	box-shadow: $z-1;
	border: rem-calc(3) solid $tacupra-red;
	border-radius: rem-calc(4);
	background: $white;
	max-width: rem-calc(420);
	margin: 0 auto;

	@include breakpoint(large) {
		max-width: none;
	}

	.prose {
		padding: rem-calc(16);

		.post-title {
			letter-spacing: rem-calc(1);
			text-transform: uppercase;
		}

		.post-link {
			font-size: rem-calc(16);
			line-height: rem-calc(20);
			background: $tacupra-red;
			border-radius: rem-calc(4);
			max-width: rem-calc(220);
			width: 100%;
			display: inline-block;
			color: #fff;
			padding: rem-calc(12) 0;

			@include breakpoint(medium) {
				font-size: rem-calc(20);
			}

			&:hover {
				background: $tacupra-black;
			}
		}

		.post-link.inactive {
			cursor: default;

			&:hover {
				background: $tacupra-red;
			}
		}
	}
}
