@import "../../_settings.scss";

.postLink-card {
	.card-base {
		.card-header {
			background: #D8D8D8;
			padding-left: rem-calc(20);

			h4 {
				line-height: rem-calc(50);
				letter-spacing: rem-calc(1);
				text-transform: uppercase;
				margin: 0;
				display: inline-block;
			}

			.plus {
				width: 50px;
				height: 50px;
				background: #333 url('#{$url}/img/index/updatePost-links/plus.svg') center center/cover no-repeat;
			}
		}
	}
}

