@import '../../../_settings.scss';

.instagramFeed {
	overflow: hidden;
	background: rgba(255,255,255,.90);

	.textColumn {
		.heightWrap {
			height: rem-calc(340);
		}

		.prose {
			padding: rem-calc(30) rem-calc(15) 0;
			z-index: 10;

			h1 {
				border-bottom: rem-calc(10) solid $tacupra-red;
				padding-bottom: rem-calc(20);
				margin-bottom: rem-calc(20);
			}
		}

		.imgWrap {
			width: 100%;
			bottom: -20px;
			z-index: -1;
		}

		svg {
			max-height: 120px;
		}
	}

	.imageColumn {
		overflow: hidden;

		.heightWrap {
			height: 250px;
		}

		.prose {
			width: 100%;
			height: 100%;
			z-index: 10;
			justify-content: center;
			flex-direction: column;

			.buttonWrap {
				width: 100%;
			}

			a.button {
				background: $tacupra-black;
				font-size: rem-calc(26);
				border-radius: rem-calc(4);
				border: rem-calc(2) solid $tacupra-black;
				padding: rem-calc(15);
				width: rem-calc(280);
				margin: 0;

				&:hover {
					background: $white;
					color: $black;
				}
			}

			svg {
				width: 220px;
				height: 220px;

				path {
					fill: $white;
				}
			}
		}

		.overflowMask {
			width: 100%;

			.slidingScreenshot {
				width: 100%;
			}
		}
	}
}

@include breakpoint(500) {
	.instagramFeed {
		.textColumn {
			.prose {
				width: 100%;

				.inner {
					max-width: rem-calc(390);
					margin: 0 auto;
				}
			}

			.imgWrap {
				bottom: -30px;
			}
		}

		.imageColumn {
			.prose {
				a.button {
					width: rem-calc(320);
				}
			}
		}
	}
}
