@import '../../../_settings.scss';

@include breakpoint(medium) {
	.instagramFeed {
		.row {
			display: flex;
		}
		
		.textColumn {
			.heightWrap {
				height: auto;
			}

			.prose {
				position: initial;
				padding: rem-calc(30) rem-calc(15);
			}
		}

		.imageColumn {
			.heightWrap {
				height: 100%;
			}
		}
	}
}

@include breakpoint(large) {
	.instagramFeed {
		.textColumn {
			.prose {
				padding-left: rem-calc(50);
				
				h1 {
					margin: 0 0 rem-calc(20);
				}

				h4 {
					margin: initial;
				}
			}
		}
	}
}
