@import '../../../_settings.scss';

@include breakpoint(medium) {
	.instagramFeed {
		.row {
			display: flex;
		}

		.textColumn {
			.heightWrap {
				height: auto;
			}

			.prose {
				position: initial;
				padding: rem-calc(30) rem-calc(15);
			}
		}

		.imageColumn {
			.heightWrap {
				height: 100%;
			}
		}
	}
}
