@import "../../../_settings.scss";

.updatePost#id-4x4-2jz-tacoma-transmission-mount {
	.pageIntro-section {
		background: $body-background url("#{$url}/img/assets/logos/toyota/icon/E5E5E5/toyota-icon.svg") right/auto 100% no-repeat;
		background-position: 110% -50px;

		span {
			background: #BB3938;
			height: 15px;
			width: 270px;
		}
	}

	img#pencil-saw {
		width: rem-calc(80);
	}

	.infoCard {
		background: #fff;
		box-shadow: $z-1;
		border-radius: rem-calc(4);
		max-width: rem-calc(500);

		img {
			border-bottom: rem-calc(4) solid #BB3938;
		}
	}

	.measurementSection {
		background: url("#{$url}/img/update-post/4x4-2jz-tacoma-transmission-mount/ruler.svg") center top/cover no-repeat;

		h2 {
			color: #BB3938;
		}

		.measurementCard {
			background: #fff;
			border: rem-calc(4) solid #BB3938;
			box-shadow: $z-2;
			border-radius: rem-calc(4);

			p {
				span {
					font-size: rem-calc(48);
					color: #BB3938;
					line-height: 1.4;
				}
			}
		}
	}

	.toolSetupSection {
		background: #BB3938;

		h2 {
			color: #fff;
		}

		.caption {
			background: rgba(0,0,0,.7); 
			position: absolute; 
			bottom: 0; 
			width: 100%;

			p {
				color: #fff;
			}
		}
	}

	.masonrySection {
		background:
			linear-gradient(
				rgba(184,0,0,0.70), 
				rgba(184,0,0,0.70)
			), url('#{$url}/img/update-post/4x4-2jz-tacoma-transmission-mount/carbonfiber-pattern.png') center/auto;
	}

	#masonryGrid {
		.tile {
			.tileBase {
				box-shadow: $z-1;
				background: #fff;
				border-radius: rem-calc(4);
			}
		}
	}
}

