// Fab Pen Section
.updatePost#making-2jz-4x4-tacoma-motor-mounts {
	.fab-pen-section {
		background: #fff;

		.fab-pen-prose {
			.prose-wrap {
				margin-top: rem-calc(40);
				width: rem-calc(250);

				@extend .float-center;

				h2 {
					line-height: 1.2;
				}

				.amazon-link {
					width: 180px;
					background: #f1f1f1;
					border-radius: 6px;
					font-size: 14px;

					@extend .float-center;
				}
			}

			.fab-pen-img-wrap {
				height: 100px;
				margin-bottom: rem-calc(40);

				img.fab-pen {
					transform: rotate(-90deg);
					width: 40px;
				}

				img.fab-pen-1 {
					top: -140px;
					right: 60px;
				}

				img.fab-pen-2 {
					top: -90px;
				}
			}
		}

		.fab-pen-media {
			video {
				width: 100%;
			}
		}

		@include breakpoint(410) {
			.fab-pen-prose {
				overflow: hidden;

				.prose-wrap {
					width: rem-calc(380);

					@extend .float-center;


					h2,
					p {
						padding-left: rem-calc(120);
					}

					.amazon-link {
						float: right;
					}
				}

				.fab-pen-img-wrap {
					height: auto;
					margin-bottom: 0;

					img.fab-pen {
						transform: none;
					}

					img.fab-pen-1 {
						right: 290px;
						top: 10px;
					}

					img.fab-pen-2 {
						top: -210px;
					}
				}
			}
		}

		@include breakpoint(medium) {
			.fab-pen-prose {
				.prose-wrap {
					width: rem-calc(480);
				}

				.fab-pen-img-wrap {
					img.fab-pen-1 {
						left: 40px;
					}

					img.fab-pen-2 {
						left: -30px;
					}
				}
			}

			.fab-pen-media {
				video {
					min-height: rem-calc(420);
					object-fit: cover;
				}
			}
		}

		@include breakpoint(900) {
			height: rem-calc(420);

			.fab-pen-prose {
				@include grid-column(6);

				.prose-wrap {
					width: auto;
					max-width: rem-calc(440);
				}

				.fab-pen-img-wrap {
					img.fab-pen-1 {
						left: 60px;
					}

					img.fab-pen-2 {
						left: 0;
					}
				}
			}

			.fab-pen-media {
				@include grid-column(6, 0);
			}
		}

		@include breakpoint(1200) {
			.fab-pen-prose {
				.prose-wrap {
					float: right;
					margin-right: rem-calc(32);
				}
			}
		}
	}
}

// Traced & Cut Section
.updatePost#making-2jz-4x4-tacoma-motor-mounts {
	.traced-and-cut-section {
		margin-bottom: 80px;

		.section-intro {
			background: #fff url('/img/icons/svg/ruler-wide-9F031B.svg') center -30px/100% no-repeat;

			.row.section-text {
				position: relative;
				padding-top: 100px;
				padding-bottom: 80px;

				.prose-wrap {
					max-width: rem-calc(770);
				}
			}
		}

		.row.images {
			img {
				border: 1px solid #000;
			}
		}
	}
}

// bolt trimming section
.updatePost#making-2jz-4x4-tacoma-motor-mounts {
	.bolt-trimming-section {
		.section-intro {
			.cell.bolt-icon {
				display: none;
				visibility: hidden;

				/* uncss:ignore */
				svg {
					width: 160px;
					height: 160px;

					/* uncss:ignore */
					path {
						fill: $tacupra-red;
					}
				}

				@include breakpoint(760) {
					display: block;
					visibility: visible;
				}

				@include breakpoint(large) {
					/* uncss:ignore */
					svg {
						width: 230px;
						height: 230px;
					}
				}
			}

			.cell.text {
				@include breakpoint(760) {
					@include xy-cell(8);
				}
			}

			.prose-wrap {
				max-width: rem-calc(450);
				margin: 0 auto;

				@include breakpoint(large) {
					max-width: rem-calc(470);
					margin: unset;
				}
			}

			.bg-bolt-icon {
				left: -20px;
				top: 10px;
				z-index: -10;

				/* uncss:ignore */
				svg {
					width: 370px;
					height: 370px;

					/* uncss:ignore */
					path {
						fill: #dedede;
					}
				}

				@include breakpoint(small only) {
					@include horizontal-center;
				}
			}
		}

		.section-details {
			background: $tacupra-black;

			.detail-shot {
				margin: 0 auto rem-calc(20);
				max-width: rem-calc(420);

				p {
					bottom: 0;
					background: rgba(40,43,47,.50);
					text-shadow: 0 0 10px #000;
				}
			}
		}

		.bg-nut-icon {
			right: 0;
			bottom: 0;

			/* uncss:ignore */
			svg {
				width: 280px;
			}
		}
	}
}

// DEWALT Clamps Flange Slots Section
.updatePost#making-2jz-4x4-tacoma-motor-mounts {
	.drilling-flange-slots-section {
		h2 {
			margin-bottom: rem-calc(24);
			text-align: center;

			@include breakpoint(700) {
				text-shadow: 0 0 15px #000;
				margin-bottom: rem-calc(40);
				color: #fff;
			}
		}

		.content-wrap {
			@include breakpoint(700) {
				@include xy-cell(6);
			}

			@include breakpoint(large) {
				@include xy-cell(5);
			}
		}

		.detail-shot {
			box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
			border-radius: 12px;
			background: #fff;
			margin-bottom: rem-calc(40);
			max-width: rem-calc(500);

			@extend .float-center;

			p.img-overlay {
				display: none;
				visibility: hidden;

				@include breakpoint(460) {
					padding: rem-calc(8 12);
					display: block;
					visibility: visible;
					bottom: 0;
					left: 0;
					background: rgba(40,43,47,.50);
					text-shadow: 0 0 10px #000;
				}
			}

			p.under-img {
				padding: rem-calc(8 12);

				@include breakpoint(460) {
					display: none;
					visibility: hidden;
				}
			}
		}

		.amazon-link {
			width: 180px;
			background: #f1f1f1;
			border-radius: 6px;
			font-size: 14px;
			margin-left: rem-calc(12);

			@include breakpoint(460) {
				width: rem-calc(370);
			}

			@include breakpoint(700) {
				width: rem-calc(180);
			}

			@include breakpoint(large) {
				width: rem-calc(370);
			}

			img {
				vertical-align: top;
			}
		}

		.content-wrap {
			.clamp-img {
				@include breakpoint(700) {
					display: none;
					visibility: hidden;
				}
			}
		}

		.dewalt-clamp-card {
			background: #fff;
			box-shadow: 0 1px 4px 0 rgba(0,0,0,.37);
			border-radius: 12px;
			padding: rem-calc(24 0);
			max-width: rem-calc(500);

			@extend .float-center;

			p {
				padding: rem-calc(0 16);
			}
		}

		.absolute-clamp-img-wrap {
			display: none;
			visibility: hidden;

			@include breakpoint(700) {
				@include vertical-center;
				display: block;
				visibility: visible;
				left: 50%;
			}
		}

		.bg-video {
			display: none;
			visibility: hidden;
			z-index: -10;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;

			video {
				width: 100%;
				object-fit: cover;
				height: 100%;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(68,68,68,.50);
				// mix-blend-mode: multiply;
			}

			@include breakpoint(700) {
				display: block;
				visibility: visible;
			}
		}
	}
}
