.display-none {
	display: none !important;
}

.display-table-row {
	display: table-row !important;
}

.display-flex {
	display: flex !important;
}

.display-inline-flex {
	display: inline-flex !important;
}

// Legacy Classes -----
// Eventually locate within pages and replace with vanilla utility .display-* classes
// .displayInlineBlock,
// .inline-block {
// 	display: inline-block;
// }

.displayBlock,
.block {
	display: block;
}

// .inline {
// 	display: inline;
// }

.flex {
	display: flex;
}
