// Legacy height classes----
.w-25 {
	width: 25%;
}

.w-50 {
	width: 50%;
}

.w-75 {
	width: 75%;
}

.w-100 {
	width: 100%;
}



// --------------------------------
// |            Widths            |
// --------------------------------

.width-auto {
	width: auto;
}



// ------------------------------------
// |            Max-Widths            |
// ------------------------------------

.max-width-75 {
	max-width: 75%;
}

.max-width-50 {
	max-width: 50%;
}

.max-width-25 {
	max-width: 25%;
}



// ------------------------------------
// |            Min-Widths            |
// ------------------------------------

.min-width-100 {
	min-width: 100%;
}

.min-width-75 {
	min-width: 75%;
}

.min-width-50 {
	min-width: 50%;
}

.min-width-25 {
	min-width: 25%;
}

// -------------------------------------------
// |            .grid-container-X            |
// -------------------------------------------

.grid-container-1500,
.grid-container-1600 {
	@extend .grid-container;
}

.grid-container-1500 {
	max-width: rem-calc(1500);
}

.grid-container-1600 {
	max-width: rem-calc(1600);
}
