@import "../_settings.scss";


// ----------------------------------
// |            Position            |
// ----------------------------------

.relative {
	position: relative;
}

// -------------------------------------------
// |            Internet Explorer            |
// -------------------------------------------

.ie-only {
	display: none;
	visibility: hidden;

	@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
		display: block;
		visibility: visible;
	}
}

// ---------------------------------------------------------------------- //