@import '../_settings.scss';

// ---------------------------------------
// |            Gfycat Embeds            |
// ---------------------------------------

.updatePost-gfyEmbed {
	margin: rem-calc(16) 0;

	border: rem-calc(3) solid #fff;
	box-shadow: $z-1;
}
