@import "../_settings.scss";


// ---------------------------------
// |            Padding            |
// ---------------------------------

.padding-0 {
	padding: 0 !important;
}

.padding-X {
	padding: 0 rem-calc(15) !important;
}

.padding-Y {
	padding: rem-calc(15) 0 !important;
}

.padding-XY {
	padding: rem-calc(15) !important;
}


// ---------------------------------------------------------------------- //


// ---------------------------------
// |            Margins            |
// ---------------------------------

.margin-0 {
	margin: 0 !important;
}

.margin-X {
	margin: 0 rem-calc(15) !important;
}

.margin-Y {
	margin: rem-calc(15) 0 !important;
}

.margin-XY {
	margin: rem-calc(15) !important;
}


// ---------------------------------------------------------------------- //

