p.large,
p.xLarge {
	line-height: 1.4;
	margin: 0 0 rem-calc(8);
}

p.large {
	font-size: rem-calc(17);
}

p.xLarge {
	font-size: rem-calc(18);
}

@include breakpoint(medium) {
	p.large {
		font-size: rem-calc(20);
	}

	p.xLarge {
		font-size: rem-calc(25);
	}
}

.p {
	font-size: $p;
}

.h1 {
	font-size: $h1;
}

.h2 {
	font-size: $h2;
}

.h3 {
	font-size: $h3;
}

.h4 {
	font-size: $h4;
}

.h5 {
	font-size: $h5;
}

.h6 {
	font-size: $h6;
}

@include breakpoint(medium) {
	.h1 {
		font-size: $h1-medium;
	}

	.h2 {
		font-size: $h2-medium;
	}

	.h3 {
		font-size: $h3-medium;
	}

	.h4 {
		font-size: $h4-medium;
	}

	.h5 {
		font-size: $h5-medium;
	}

	.h6 {
		font-size: $h6-medium;
	}
}
