<nav>
	<div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
		<div class="title-bar-title"><a href="/"><img src="{{ cdn }}/img/update-post/assets/header/nav/ts-icon.png" alt="TS Icon"></a></div>
		<button class="float-right menu-icon" type="button" data-toggle="main-menu"></button>
	</div>
	<div class="top-bar" id="main-menu">
		<div class="top-bar-left">
			<ul class="text-right vertical medium-horizontal menu">
				<li class="show-for-medium logo-icon"><img src="{{ cdn }}/img/update-post/assets/header/nav/ts-icon.png" alt="TS Icon"></li>
				<li><a href="/">Home</a></li>
				<!-- <li><a href="#">Build Progress</a></li> -->
				<!-- <li><a href="#">About</a></li> -->
			</ul>
		</div>
		<div class="top-bar-right text-right">
			<a class="socialMedia-link" target="_blank" href="https://www.instagram.com/2jz_tacupra/"><img src="/img/social-media/instagram/instagram.svg" alt="Instagram Logo"></a>
			<a class="socialMedia-link" target="_blank" href="https://www.facebook.com/Tacupra/"><img src="/img/social-media/facebook/facebook.svg" alt="Facebook Logo"></a>
		</div>
	</div>
</nav>