@import '../../_settings.scss';

.updatePost-stock {
	.container {
		&:hover {
			background: #f9f9f9;
		}

		&:nth-child(2n) {
			background: #fdfdfd;

			&:hover {
				background: #fafafa;
			}
		}

		&:nth-child(2) {
			background: #bb3938 url('#{$url}/img/update-post/assets/article/container-2/supra.svg') center bottom/contain no-repeat !important;

			@include breakpoint(large) {
				background: #bb3938 url('#{$url}/img/update-post/assets/article/container-2/breakpoint-large/supra.svg') left top/contain no-repeat !important;
			}

			p {
				font-weight: 500;
				color: #fff;
			}
		}
	}

	article {
		.row {
			@include breakpoint(small only) {
				padding: rem-calc(16) rem-calc(8);
			}

			padding: rem-calc(16) 0;

			img {
				border: rem-calc(3) solid #fff;
				box-shadow: $z-1;
				margin: rem-calc(16) 0;
			}
		}
	}
}

.updatePost-stock {
	article {
		.row {
			.content {
				@include grid-col;

				@include breakpoint(medium) {
					@include grid-column(10);
					@include grid-col-pos(1);
				}

				@include breakpoint(large) {
					@include grid-column(8);
					@include grid-col-pos(2);
				}
			}
		}
	}
}

// large-8 large-push-2 columns end
